// div{
//     width: 100px;
//     height: 100px;
//     background-color: aqua;
// }
.e{
    font-size: 30px+30px;
    .a{
        color: blue;
        .b{
            color: chartreuse;
        }
    }
    .c{
        color: blueviolet;
    }
    .d{
        color: red;
    }
}
